/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 *
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --rich-black-fogra-39_50: hsla(0, 0%, 5%, 0.5);
  --rich-black-fogra-39: hsl(0, 0%, 5%);
  --indian-yellow_10: hsla(36, 61%, 58%, 0.1);
  --indian-yellow: hsl(36, 61%, 58%);
  --harvest-gold: hsl(36, 66%, 53%);
  --eerie-black-1: hsl(0, 0%, 14%);
  --eerie-black-2: hsl(0, 0%, 12%);
  --eerie-black-2_85: hsla(0, 0%, 12%, 0.85);
  --eerie-black-3: hsl(0, 0%, 8%);
  --sonic-silver: hsl(0, 0%, 44%);
  --davys-gray: hsl(210, 9%, 31%);
  --light-gray: hsl(0, 0%, 80%);
  --platinum: hsl(0, 0%, 91%);
  --black_30: hsla(0, 0%, 0%, 0.3);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --white_30: hsla(0, 0%, 100%, 0.3 );
  --white_50: hsla(0, 0%, 100%, 0.5);
  --white: hsl(0, 0%, 100%);
  --jet: hsl(0, 0%, 21%);

  /**
   * typography
   */

  --ff-oswald : 'Oswald', sans-serif;
  --ff-rubik: 'Rubik', sans-serif;

  --fs-40: 4rem;
  --fs-30: 3rem;
  --fs-24: 2.4rem;
  --fs-18: 1.8rem;
  --fs-14: 1.4rem;
  --fs-13: 1.3rem;

  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * spacing
   */

  --section-padding: 80px;

  /**
   * shadow
   */

  --shadow-1: 10px 0 60px hsla(0, 0%, 15%, 0.07);
  --shadow-2: 10px 0 60px hsla(0, 0%, 15%, 0.1);

  /**
   * radius
   */

  --radius-5: 5px;
  --radius-8: 8px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

html {
  scroll-padding: 76px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
data,
input,
select,
button,
textarea,
ion-icon { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
select,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
select,
textarea { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-family: var(--ff-rubik);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--sonic-silver);
  font-size: 1.6rem;
  line-height: 2;
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.section { padding-block: var(--section-padding); }

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  position: absolute;
  content: "";
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h1,
.h2,
.h3 {
  font-family: var(--ff-oswald);
  line-height: 1.3;
}

.h1,
.h2 { text-transform: uppercase; }

.h1,
.h3 { font-weight: var(--fw-600); }

.h1 {
  color: var(--white);
  font-size: var(--fs-40);
}

.h2,
.h3 { color: var(--eerie-black-1); }

.h2 { font-size: var(--fs-30); }

.h3 { font-size: var(--fs-24); }

.btn {
  color: var(--white);
  background-color: var(--indian-yellow);
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: max-content;
  padding: 10px 25px;
  font-family: var(--ff-oswald);
  font-size: var(--fs-14);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  border-radius: var(--radius-5);
  overflow: hidden;
}

.btn::before {
  background-color: var(--eerie-black-1);
  inset: 0;
  z-index: -1;
  transform: skewY(-15deg) scaleY(0);
  transition: var(--transition-2);
}

.btn:is(:hover, :focus)::before { transform: skewY(-15deg) scaleY(2.5); }

.text-center { text-align: center; }

.grid-list {
  display: grid;
  gap: 30px;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header__top-item,
.header .btn { display: none; }

.header__top-list,
.header__top-list .header__top-social {
  display: flex;
  align-items: center;
}

.header__top-list { justify-content: center; }

.header__top-list .header__top-social {
  gap: 20px;
  padding-block: 15px;
}

.header__top-list .header__top-social-link {
  color: var(--sonic-silver);
  font-size: 15px;
  transition: var(--transition-1);
}

.header__top-list .header__top-social-link:is(:hover, :focus) { color: var(--indian-yellow); }

.header__bottom {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  padding-block: 10px;
  z-index: 4;
}

.header__bottom.active {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--rich-black-fogra-39);
  transform: translateY(-100%);
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.header__bottom > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--indian-yellow);
  font-family: var(--ff-oswald);
  font-size: 2.7rem;
  font-weight: var(--fw-600);
  text-transform: uppercase;
  line-height: 1.4;
}

.logo span {
  color: var(--white);
  font-family: var(--ff-rubik);
  font-size: 1.3rem;
  font-weight: var(--fw-300);
  text-transform: capitalize;
  letter-spacing: 2px;
}

.nav-toggle-btn {
  color: var(--white);
  font-size: 40px;
}

.navbar {
  position: absolute;
  padding-inline: 0;
  top: 100%;
  left: 15px;
  right: 15px;
  background-color: var(--rich-black-fogra-39);
  height: 0;
  overflow: hidden;
  transition: 0.15s var(--cubic-out);
}

.navbar.active {
  height: 550px;
  transition-duration: 0.5s;
}

.navbar__list {
  border-block-start: 1px solid var(--jet);
  margin-block: 25px;
}

.navbar__list > li {
  position: relative;
}

.navbar__item {
  border-block-end: 1px solid var(--jet);
}

.navbar__sublist {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  margin-top: 0.3rem;
  background-color: #2d2926;
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  transform: translateY(0.5rem);
  visibility: hidden;
  opacity: 0;
}

.navbar__sublist.dropdown-open {
  transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
}

.navbar__link {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--white);
  font-family: var(--ff-oswald);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  line-height: 1.5;
  padding: 10px 30px;
  transition: var(--transition-1);
}

.navbar__link:is(:hover, :focus) { color: var(--indian-yellow); }

.navbar__link ion-icon.dropdown-rotate {
  transform: rotate(180deg);
  transition: 0.2s ease;
}




/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  --section-padding: 100px;
  padding-block-start: calc(var(--section-padding) + 40px);
  background-position: left;
}

.hero::before {
  inset: 0;
  background-color: var(--rich-black-fogra-39_50);
  mix-blend-mode: multiply;
  z-index: -1;
}

.hero__text {
  color: var(--white);
  margin-block: 15px 40px;
}





/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service { text-align: center; }

.service .section-text { margin-block: 15px 55px; }

.service-card {
  background-color: var(--white);
  padding: 60px 25px;
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-8);
}

.service-card .card-icon {
  color: var(--indian-yellow);
  font-size: 70px;
  line-height: 1;
}

.service-card .card-title {
  margin-block: 15px 12px;
  transition: var(--transition-1);
}

.service-card .card-title:is(:hover, :focus) { color: var(--indian-yellow); }

.service-card .card-text { margin-block-end: 30px; }

.service-card .card-btn {
  color: var(--indian-yellow);
  background-color: var(--white);
  max-width: max-content;
  margin-inline: auto;
  font-size: 20px;
  padding: 15px;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-5);
  transition: var(--transition-2);
}

.service-card:is(:hover, :focus-within) .card-btn {
  background-color: var(--indian-yellow);
  color: var(--white);
}





/*-----------------------------------*\
  #PRICING
\*-----------------------------------*/

.pricing::before {
  inset: 0;
  background-color: var(--eerie-black-2_85);
  mix-blend-mode: multiply;
  z-index: -1;
}

.pricing .section-title { color: var(--white); }

.pricing .section-text {
  margin-block: 15px 55px;
  color: var(--white_50);
}

.pricing-tab-container {
  background-color: var(--white);
  padding: 40px 5px;
}

.tab-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
  margin-block-end: 30px;
}

.filter-btn {
  color: var(--eerie-black-1);
  font-family: var(--ff-oswald);
  font-size: var(--fs-14);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  min-width: 130px;
  padding-block: 12px;
  border: 1px solid var(--platinum);
  transition: var(--transition-1);
}

.filter-btn .btn-icon { display: none; }

.filter-btn.active {
  background-color: var(--indian-yellow);
  border-color: var(--indian-yellow);
  color: var(--white);
}

.pricing .grid-list { padding-inline: 20px; }

.pricing .grid-list > li.active { animation: popup 0.75s ease forwards; }

@keyframes popup {

  0% { opacity: 0; }
  100% { opacity: 1; }

}

.pricing-card {
  background-color: var(--indian-yellow_10);
  padding: 20px 25px;
  border-radius: var(--radius-5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.pricing-card .card-banner {
  border-radius: 50%;
  overflow: hidden;
}

.pricing-card .wrapper { order: 1; }

.pricing-card .h3 {
  --fs-24: 2rem;
  margin-block-end: 8px;
}

.pricing-card .card-price {
  color: var(--indian-yellow);
  font-family: var(--ff-oswald);
  font-size: var(--fs-30);
  font-weight: var(--fw-500);
}





/*-----------------------------------*\
  #GALLERY
\*-----------------------------------*/

.title-wrapper { margin-block-end: 60px; }

.gallery .section-text { margin-block: 12px 15px; }

.gallery-card { position: relative; }

.gallery-card .card-banner .img-cover { transition: var(--transition-2); }

.gallery-card:is(:hover, :focus-within) .card-banner .img-cover { transform: scale(1.1); }

.gallery-card .card-content {
  position: absolute;
  inset: 15px;
  background-color: var(--eerie-black-2_85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--transition-2);
}

.gallery-card:is(:hover, :focus-within) .card-content {
  opacity: 1;
  transform: scale(1);
}

.gallery-card :is(.card-title, .card-text) { color: var(--white); }

.gallery-card .card-btn {
  background-color: var(--white);
  color: var(--indian-yellow);
  font-size: 18px;
  padding: 16px;
  border-radius: var(--radius-5);
  margin-block-start: 12px;
  transition: var(--transition-1);
}

.gallery-card .card-btn:is(:hover, :focus) {
  background-color: var(--indian-yellow);
  color: var(--white);
}





/*-----------------------------------*\
  #APPOINTMENT
\*-----------------------------------*/

.appoin { padding-block-start: 0; }

.appoin-card .card-banner { display: none; }

.appoin-card .card-content {
  background-color: var(--indian-yellow);
  padding: 80px 15px;
  text-align: center;
  color: var(--white);
}

.appoin-card .section-title { color: var(--white); }

.appoin-card .section-text { margin-block: 15px 55px; }

.input-field {
  background-color: var(--white);
  color: var(--davys-gray);
  min-height: 56px;
  padding-inline: 25px;
  border-radius: var(--radius-5);
  margin-block-end: 20px;
  outline: none;
  outline-offset: 0;
}

.input-field:focus { outline: 3px solid var(--black_30); }

select.input-field { appearance: none; }

select.input-field,
.input-field::placeholder,
.input-field.date {
  font-family: var(--ff-oswald);
  color: var(--eerie-black-1);
  font-weight: var(--fw-500);
}

.input-field > option {
  color: var(--sonic-silver);
  font-family: var(--ff-rubik);
}

.input-field.date { text-transform: uppercase; }

.input-field::-webkit-calendar-picker-indicator { opacity: 0.85; }

textarea.input-field {
  padding-block: 15px;
  min-height: 100px;
  height: 120px;
  max-height: 150px;
  resize: vertical;
}

.form-btn {
  color: var(--white);
  font-family: var(--ff-oswald);
  font-size: var(--fs-14);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--white);
  padding: 13px;
  border-radius: var(--radius-5);
  transition: var(--transition-1);
}

.form-btn:is(:hover, :focus) {
  background-color: var(--white);
  color: var(--eerie-black-1);
}


.location {
  padding: 4.25rem 2rem;
}

.location__data {
  text-align: center;
  margin-bottom: 2rem;
}

.location__content iframe {
  width: 100%;
  height: 425px;
}


/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  background-color: var(--eerie-black-2);
  padding-block-end: 30px;
}

.footer__top { margin-block-end: 65px; }

.footer__brand {
  border: 1px solid var(--white_10);
  margin-block-end: 70px;
}

.footer .logo {
  text-align: center;
  padding: 25px;
  border-block-end: 1px solid var(--white_10);
}

.footer .input-wrapper {
  background-color: var(--white);
  position: relative;
  margin: 25px;
  padding: 15px;
}

.footer .input-wrapper:focus-within { outline: 3px solid var(--white_30); }

.footer .email-field {
  text-align: center;
  margin-block-end: 15px;
  color: inherit;
  outline: none;
}

.footer .btn {
  max-width: 100%;
  width: 100%;
  justify-content: center;
}

.footer__link-box {
  display: grid;
  gap: 50px;
}

.footer__title {
  color: var(--white);
  font-family: var(--ff-oswald);
  font-size: var(--fs-18);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  margin-block-end: 30px;
}

.footer__link::before {
  position: static;
  padding: 2.5px;
  background-color: var(--white_30);
  display: block;
  border-radius: 50%;
  transition: var(--transition-1);
}

.footer__link,
.blog-card,
.blog-card .card-date,
.footer__item {
  display: flex;
  align-items: center;
}

.footer__link {
  color: var(--white_50);
  gap: 10px;
  margin-block-start: 8px;
  transition: var(--transition-1);
}

.footer__link:is(:hover, :focus) { color: var(--white); }

.footer__link:is(:hover, :focus)::before { background-color: var(--white); }

.blog-card {
  gap: 25px;
  margin-block-start: 20px;
}

.blog-card .card-banner { flex-shrink: 0; }

.blog-card .card-title {
  color: var(--white);
  font-family: var(--ff-oswald);
  font-size: var(--fs-14);
  font-weight: var(--fw-500);
  line-height: 1.5;
  margin-block-end: 5px;
  transition: var(--transition-1);
}

.blog-card .card-title:is(:hover, :focus) { color: var(--indian-yellow); }

.blog-card .card-date {
  gap: 5px;
  font-size: var(--fs-13);
  text-transform: uppercase;
  color: var(--white_50);
}

.blog-card .card-date ion-icon { --ionicon-stroke-width: 50px; }

.footer__item {
  align-items: flex-start;
  gap: 10px;
  margin-block-start: 10px;
}

.footer__item ion-icon {
  color: var(--indian-yellow);
  font-size: 18px;
  flex-shrink: 0;
  --ionicon-stroke-width: 50px;
  margin-block: 7px;
}

.contact-link {
  color: var(--white_50);
  transition: var(--transition-1);
}

a.contact-link:is(:hover, :focus) { color: var(--white); }

.footer-bottom {
  background-color: var(--eerie-black-3);
  text-align: center;
  padding: 15px;
}

.copyright-link {
  display: inline-block;
  color: var(--indian-yellow);
}





/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: var(--harvest-gold);
  color: var(--white);
  font-size: 20px;
  padding: 10px;
  border-radius: var(--radius-5);
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-40: 6rem;

  }

  html {
    scroll-padding: 81px;
  }


  /**
   * REUSED STYLE
   */

  .container,
  .header__top {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .btn { padding: 13px 40px; }

  .h2 { --fs-30: 3.5rem; }



  /**
   * HEADER
   */

  .header__top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    z-index: 4;
    background-color: var(--white);
    border-radius: 0 0 20px 20px;
  }

  .header__top-item:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header__top-item ion-icon {
    font-size: 18px;
    color: var(--indian-yellow);
    --ionicon-stroke-width: 50px;
  }

  .header__top-item .header__top-title {
    color: var(--eerie-black-1);
    font-weight: var(--fw-500);
  }

  .header__top-item .header__top-link { transition: var(--transition-1); }

  .header__top-item .header__top-link:is(:hover, :focus) { color: var(--indian-yellow); }

  .header__top-list { justify-content: space-between; }

  .logo { font-size: 3rem; }

  .logo .span { font-size: 1.4rem; }



  /**
   * HERO
   */

  .hero { padding-block-start: calc(var(--section-padding) + 80px); }

  .hero__text { font-size: var(--fs-18); }



  /**
   * PRICING
   */

  .filter-btn .btn-icon {
    display: block;
    font-size: 55px;
    line-height: 1;
    margin-block-end: 5px;
  }

  .pricing-card {
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;
  }

  .pricing-card .wrapper { order: 0; }

  .pricing-card .card-price {
    align-self: flex-start;
    line-height: 1.6;
  }
  


  /**
   * GALLERY
   */

  .gallery .grid-list { grid-template-columns: 1fr 1fr; }



  /**
   * APPOINTMENT
   */

  .appoin-card .card-content { padding-inline: 50px; }



  /**
   * FOOTER
   */

  .footer .email-field {
    margin-block-end: 0;
    text-align: left;
    font-size: var(--fs-18);
    padding: 10px 15px;
    padding-inline-end: 210px;
  }

  .footer .btn {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    width: max-content;
  }

  .footer__link-box { grid-template-columns: 1fr 1fr; }

  .footer__list:is(:nth-child(3), :nth-child(4)) { grid-column: 1 / 3; }

  .blog-card .card-title {
    --fs-14: 1.7rem;
    max-width: 25ch;
  }

}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-40: 8rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 720px; }

  .h2 { --fs-30: 4rem; }

  .section-text {
    max-width: 50ch;
    margin-inline: auto;
  }



  /**
   * HEADER
   */

  .header__top { max-width: 780px; }



  /**
   * SERVICE
   */

  .service .grid-list { grid-template-columns: 1fr 1fr; }



  /**
   * PRICING
   */

  .pricing-tab-container { padding: 40px; }

  .pricing-card .wrapper { margin-inline-end: auto; }



  /**
   * GALLERY
   */

  .gallery .section-text { margin-inline: 0; }

  .gallery-card .card-content { inset: 30px; }



  /**
   * APPOINTMENT
   */

  .appoin-card .card-banner { display: block; }

  .appoin-card { display: flex; }



  /**
   * FOOTER
   */

  .footer__list:is(:nth-child(3), :nth-child(4)) { grid-column: auto; }

}





/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-40: 10rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }



  /**
   * HEADER
   */

  .nav-toggle-btn { display: none; }

  .header__top { max-width: 1020px; }

  .header__bottom { padding-block: 20px; }

  .navbar,
  .navbar__list,
  .navbar__item { all: unset; }

  .navbar__list,
  .header .btn { display: flex; }

  .navbar__link { padding-inline: 10px; }

  

  /**
   * HERO
   */

  .hero {
    --section-padding: 150px;
    padding-block-start: calc(var(--section-padding) + 100px);
  }

  .hero__title,
  .hero__text { max-width: 600px; }



  /**
   * SERVICE
   */

  .service .grid-list { grid-template-columns: repeat(3, 1fr); }



  /**
   * PRICING
   */

  .pricing .grid-list { grid-template-columns: 1fr 1fr; }

  .pricing-card { height: 100%; }

  .pricing-card .card-banner { flex-shrink: 0; }



  /**
   * GALLERY
   */

  .gallery .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .gallery .section-text { margin-block-end: 0; }



  /**
   * APPOINTMENT
   */

  .appoin-card .input-wrapper {
    display: flex;
    gap: 20px;
  }

  .appoin-card .input-wrapper > div {
    flex: 1;
  }


  /**
   * FOOTER
   */

  .footer__brand {
    display: flex;
    align-items: center;
  }

  .footer .logo {
    padding: 60px 70px;
    border-block-end: none;
    border-inline-end: 1px solid var(--white_10);
  }

  .footer .input-wrapper {
    flex-grow: 1;
    margin-inline: 70px;
  }

}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-40: 11rem;

    /**
     * spacing
     */

    --section-padding: 120px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1200px; }



  /**
   * HEADER
   */

  .header__top { max-width: 1260px; }

  .header__top-list { gap: 30px; }

  .header__top-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header__top-item:nth-child(2) { margin-inline-end: auto; }



  /**
   * HERO
   */

  .hero {
    background-position: left;
    padding-block-end: 200px;
  }

  .hero__title,
  .hero__text { max-width: 680px; }



  /**
   * PRICING
   */

  .filter-btn { min-width: 178px; }



  /**
   * GALLERY
   */

  .gallery .grid-list { grid-template-columns: repeat(4, 1fr); }



  /**
   * APPOINTMENT
   */

  .appoin-card .card-content { flex-grow: 1; }



  /**
  * LOCATION
  */



  /**
   * FOOTER
   */

  .footer__link-box { grid-template-columns: 0.5fr 0.5fr 1fr 0.8fr; }



  /**
   * BACK TO TOP
   */

  .back-top-btn { padding: 15px; }

}
